<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <p>Выберете файлы с тестовыми данными</p>
        <form method="POST"  enctype=multipart/form-data action="/">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" name="file[]" value="upload" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            <input type="submit" value="Загрузить данные" class="btn btn-primary con">
        </form>
    </div>

    {% if result == 1 %}
        <hr>
        <div class="container">
            <h3>Результаты:</h3>
            <table class="table table-striped">
                <tr class="active">
                    <thead>
                        <th>ID теста</th>
                        <th>Статус</th>
                        <th>Время отклика от сервера адрес>>координаты</th>
                        <th>Время отклика от сервера координаты>>адрес</th>
                    </thead>
                </tr>
                <tbody>
                {% for item in items %}
                    <tr>
                        Результаты для файла: {{ item[0][0]}}
                    </tr>
                    {% for line in item[1] %}
                        <tr>
                            <th>{{ line[0] }}</th>
                            <td>{{ line[1] }}</td>
                            <td>{{ line[2] }}</td>
                            <td>{{ line[3] }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</body>
</html>