<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <p>Выберете файлы с тестовыми данными</p>
        <form method="POST"  enctype=multipart/form-data action="/">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" name="file[]" value="upload" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            <input type="submit" value="Загрузить данные" class="btn btn-primary con">
        </form>
    </div>

    {% if result == 1 %}
        <hr>
        <div class="container">
            <h3>Результаты:</h3>
            <table class="table table-striped">
                <tr class="active">
                    <thead>
                        <th>Название параметра</th>
                        <th>Заданные значения</th>
                        <th>Полученные значения</th>
                    </thead>
                </tr>
                <tbody>
                    <tr>
                        <th>Город</th>
                        <td>{{ old_city }}</td>
                        <td>{{ new_city }}</td>
                    </tr>
                    <tr>
                        <th>Улица</th>
                        <td>{{ old_street }}</td>
                        <td>{{ new_street }}</td>
                    </tr>
                    <tr>
                        <th>Номр дома</th>
                        <td>{{ old_number }}</td>
                        <td>{{ new_number }}</td>
                    </tr>
                    <tr>
                        <th>Время получения данных адрес>>координаты</th>
                        <th>{{ time_1 }} с</th>
                    </tr>
                    <tr>
                        <th>Время получения данных координаты>>адрес</th>
                        <th>{{ time_2 }} с</th>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
</body>
</html>